Repository ehdrms2034/SmartPathGuide, pull requests merged in 2020-06, with the labels that each got.

#26 [PR-25] 스플래시 화면 작업
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/kr/pnu/ga2019/presentation/user/UserPathActivity.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/user/UserPathViewModel.kt
  android/app/src/main/res/layout/activity_path.xml
Labels: Android, Feature

#39 [Backend] 박물관 내 전시관 종류 추가 및 Controller 수정
  backend/src/spec/test/index.spec.ts
  backend/src/src/TensorModel/ancient/model.json
  backend/src/src/TensorModel/ancient/weights.bin
  backend/src/src/TensorModel/craft/model.json
  backend/src/src/TensorModel/craft/weights.bin
  backend/src/src/TensorModel/donation/model.json
  backend/src/src/TensorModel/donation/weights.bin
  backend/src/src/TensorModel/future/model.json
  backend/src/src/TensorModel/future/weights.bin
  backend/src/src/TensorModel/human/model.json
  backend/src/src/TensorModel/human/weights.bin
  backend/src/src/TensorModel/medieval/model.json
  backend/src/src/TensorModel/medieval/weights.bin
  backend/src/src/TensorModel/modern/model.json
  backend/src/src/TensorModel/modern/weights.bin
  backend/src/src/TensorModel/natural/model.json
  backend/src/src/TensorModel/natural/weights.bin
  backend/src/src/TensorModel/painting/model.json
  backend/src/src/TensorModel/painting/weights.bin
  backend/src/src/TensorModel/science/model.json
  backend/src/src/TensorModel/science/weights.bin
  backend/src/src/TensorModel/space/model.json
  backend/src/src/TensorModel/space/weights.bin
  backend/src/src/TensorModel/world/model.json
  backend/src/src/TensorModel/world/weights.bin
  backend/src/src/dao/UserInfoDao.ts
  backend/src/src/dao/pathsDao.ts
  backend/src/src/model/Districts.ts
  backend/src/src/model/UserInfo.ts
  backend/src/src/model/paths.ts
  backend/src/src/routes/Paths.ts
  backend/src/src/routes/UserInfos.ts
  backend/src/src/services/PathGuideService.ts
  backend/src/src/services/PathRecommendService.ts
  backend/src/src/swagger.yaml
Labels: Backend, Feature

#43 [PR-43] UiState 마크 인터페이스 추가
  android/app/src/main/java/kr/pnu/ga2019/presentation/UiState.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/splash/SplashUiState.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/user/UserPathUiState.kt
Labels: Android, Patch

#49 [PR-45] UI 관련 수정사항 반영
  android/app/src/main/java/kr/pnu/ga2019/presentation/main/intro/IntroFragment.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/main/intro/IntroWatchMethodAdapter.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/splash/SplashActivity.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/splash/SplashPointAdapter.kt
  android/app/src/main/java/kr/pnu/ga2019/utility/Const.kt
  android/app/src/main/res/layout/fragment_intro.xml
  android/app/src/main/res/layout/fragment_recommend.xml
  android/app/src/main/res/layout/layout_user_point.xml
  android/app/src/main/res/layout/layout_visited_place.xml
  android/app/src/main/res/layout/layout_watch_method.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Patch

#50 [PR-50] 전시관 좌표 임의로 수정하던 부분을 원상복구
  android/app/src/main/java/kr/pnu/ga2019/domain/entity/Place.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/main/intro/IntroFragment.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/main/intro/IntroWatchMethodAdapter.kt
  android/app/src/main/java/kr/pnu/ga2019/presentation/main/recommend/RecommendFragment.kt
  android/app/src/main/java/kr/pnu/ga2019/utility/Const.kt
  android/app/src/main/res/drawable/img_visitor_1.jpg
  android/app/src/main/res/drawable/img_visitor_2.jpg
  android/app/src/main/res/drawable/img_visitor_3.jpg
  android/app/src/main/res/layout/layout_watch_method.xml
Labels: Android, Patch
